.header{
    width: 100vw;
    height: 100px;
    background-color: beige;
}

.navigation{
    font-size: 24px;
}

.navigation-list li{
    display: inline-block;
}

.navigation-list{
    display: flex;
    gap: 20px;
}